﻿
@model LigaNOS_MVC_Core.ViewModels.LigaViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SharedSimular.cshtml";

    int n = 1;

}

<div style="padding-top: 100px; padding-bottom: 600px">
    <h1>Confirmação</h1>
    <br />

    <form asp-controller="Liga" asp-action="CreateLigaAuto" method="post">

        <input asp-for="@Model.Liga.idLiga" type="hidden" />
        <input asp-for="@Model.Liga.NumeroDeEquipas" type="hidden" />
        <input asp-for="@Model.Liga.Nome" type="hidden" />

        <div class="form-group">
            <label asp-for="Liga.Nome">Nome da Liga</label><br>
            <label class="form-control">@Model.Liga.Nome</label>
        </div>

        <div class="form-group">
            <label asp-for="Liga.NumeroDeEquipas">Número de Equipas</label>
            <label class="form-control">@Model.Liga.NumeroDeEquipas</label>
        </div>

        <hr />

        @*@foreach (var item in Model.ListEquipas)
        {
            <input asp-for="@Model.ListEquipas" type="hidden">

            <label>@n - @item.Nome</label>
            <br />
            n++;
        }*@

        <br />

        <input type="submit" class="btn btn-primary" value="Criar Liga" />
    </form>

</div>

