﻿
@model LigaNOS_MVC_Core.ViewModels.LigaViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SharedSimular.cshtml";
}

<div style="padding-top: 100px; padding-bottom: 600px">
    <h1>Nova Liga Automática</h1>
    <p>Esta opão distribui os confrontos automáticamente.</p>
    <br />

    <form asp-controller="Liga" asp-action="CriarLigaAutoEscolherEquipas" method="post">
        <div class="form-group">
            <label asp-for="Liga.Nome">Nome da Liga</label><br>
            <input class="form-control" asp-for="Liga.Nome" type="text" placeholder="Nome" />
        </div>

        <div class="form-group">
            <label asp-for="Liga.NumeroDeEquipas">Número de Equipas</label>
            <select class="form-control" asp-for="Liga.NumeroDeEquipas" asp-items="@ViewBag.NumeroDeEquipas"></select>
        </div>
        <input type="submit" class="btn btn-primary" value="Next" />
    </form>

</div>

