﻿
@model LigaNOS_MVC_Core.ViewModels.LigaViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SharedSimular.cshtml";

    int n = 1;
}

<div style="padding-top: 100px; padding-bottom: 600px">
    <h1>Escolha as Equipas</h1>
    <br />

    <form asp-controller="Liga" asp-action="CriarLigaAutoConfirmacao" method="post">

        <input asp-for="@Model.Liga.NumeroDeEquipas" type="hidden" />
        <input asp-for="@Model.Liga.Nome" type="hidden" />

        @for (int i = 0; i < Model.Liga.NumeroDeEquipas; i++)
        {

            <div class="form-group">
                <label asp-for="Liga.Nome">Equipa @n</label><br>
                <select class="form-control" asp-for="@Model.ListEquipas[i].IdEquipa" asp-items="@ViewBag.NomeEquipas"><option></option></select>
            </div>

            n++;
        }
        <input type="submit" class="btn btn-primary" value="Next" />
    </form>

</div>

