﻿
@model LigaNOS_MVC_Core.ViewModels.LigaViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SharedSimular.cshtml";
}

<div style="padding-top: 100px; padding-bottom: 600px">
    <h1>As Minhas Ligas</h1>
    <br />

    <div class="table-responsive" style="font-size: 12px; margin-bottom: 80px">

        <table class="table">
            <thead class="thead-dark" style="font-weight: bold; font-size: 14px;">
            <th>
                <label>Nome</label>
            </th>
            <th>
                <label>Número de Equipas</label>
            </th>
            <th>
                <label>Data de Criação</label>
            </th>
            <th>
                <label>&nbsp;</label>
            </th>
            <th>
                <label>&nbsp;</label>
            </th>
            </thead>


            @foreach (var item in Model.ListLiga)
            {
                <tr>
                    <td>
                        <label asp-for="@item.Nome">@item.Nome</label>
                    </td>
                    <td>
                        <label asp-for="@item.NumeroDeEquipas">@item.NumeroDeEquipas</label>
                    </td>
                    <td>
                        <label asp-for="@item.DataDeInicio">@item.DataDeInicio</label>
                    </td>
                    <td style="width: 10px; padding: 0">
                        <a asp-action="DeleteLiga" asp-controller="Liga" asp-route-id="@item.idLiga"><img id="deleteTeamIcon" src="~/img/DeleteTeamIcon.png" /></a>
                    </td>
                    <td style="width: 10px; padding: 0">
                        <a asp-action="DetalhesLiga" asp-controller="Jogos" asp-route-id="@item.idLiga"><img id="deleteTeamIcon" src="~/img/DetalhesLigaIcon.png" /></a>
                    </td>
                </tr>

            }

        </table>
    </div>


    <a asp-controller="Liga" asp-action="CriarLiga" class="btn btn-primary" value="Criar Liga">Nova Liga</a>
    <a asp-controller="Liga" asp-action="CriarLigaAuto" class="btn btn-primary" value="Criar Liga">Nova Liga Automática</a>

</div>

