﻿
@using Microsoft.AspNetCore.Identity
@using LigaNOS_MVC_Core.Models
@*@model LigaNOS_MVC_Core.Models.AccountViewModels.LoginViewModel*@
@*@model LigaNOS_MVC_Core.Models.ViewModels.SinglePageViewModel*@
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!doctype html>

<html lang="en">

<head>
    <title>Liga NOS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Trabalho final do módulo.">
    <meta name="keywords" content="HTML,CSS,JavaScript, ASP.NET Core, MVC, CINEL">
    <meta name="author" content="João Ribeiro">

    <link rel="icon" href="img/favicon.png">
    <link href="~/css/reset.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="~/css/styles_sim.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
</head>

<body data-spy="scroll" data-target=".navbar" style="position: relative">

    @*<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div class="form-group">
                            <label>Email address</label>
                            <input asp-for="LoginViewModel.Email" class="form-control" placeholder="Enter email">

                            <label>Password</label>
                            <input asp-for="LoginViewModel.Password" class="form-control" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="ManageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Manage Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <form asp-controller="Manage" asp-action="Index" method="post">
                        <div class="form-group">
                            <label asp-for="IndexViewModel.Username"></label>
                            <input asp-for="IndexViewModel.Username" class="form-control" disabled />
                            <input asp-for="IndexViewModel.Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>*@


    <div class="row">
        <nav class="fixed-top navbar navbar-expand-lg navbar-light" id="navbar-bck">

            <a class="navbar-brand"><img id="logo" src="~/img/logo.png"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navicon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-controller="ManageEquipas" asp-action="Index" id="homeLink" class="nav-item nav-link">Equipas</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Liga" asp-action="Index" class="nav-item nav-link">Liga</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Jogos" asp-action="Index" class="nav-item nav-link">Jogos</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Classificacao" asp-action="Index" class="nav-item nav-link">Classificações</a>
                    </li>

                </ul>
                <br>
                <ul class="navbar-nav ml-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-item nav-link" data-toggle="modal" data-target="#ManageModal">Hello @UserManager.GetUserName(User)!</a>
                        </li>
                        <li class="nav-item">
                            &nbsp;&nbsp;
                        </li>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" id="logout" type="submit">Log out</button>
                        </form>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-item nav-link" data-toggle="modal" data-target="#LoginModal">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link">Register</a>
                        </li>
                    }
                </ul>
            </div>

        </nav>
    </div>

    <section class="background">


        @*<div class="row" data-paroller-factor="0.5">
            <div class="col-md-12 col-sm-12">
                <a href="#home"><img src="img/arrowDown.png" id="arrow" /></a>
            </div>
        </div>*@

        <!-- PageContents -->
        <div class="container">
            
            @RenderBody()
            
        </div>


        <!-- PageContents -->



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="~/js/owl.carousel.js"></script>
        <script src="~/css/jquery.paroller.min.js"></script>

        <script src="~/js/script_dready_sim.js"></script>

    </section>

</body>

</html>
