﻿@using Microsoft.AspNetCore.Identity
@using LigaNOS_MVC_Core.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <!-- Inserir o conteudo de quando o Super Admin está logado -->

}
else
{
    <section id="home"></section>

    <section class="home" data-paroller-factor="0.5" style="margin-bottom: 500px">

        <div class="container">

            <div id="screveal">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="" src="img/imgCarousel/banner-topo_01_slbenfica-mob.jpg" id="imgCarousel" alt="First slide">
                            <div class="carousel-caption">
                                <h5>Muitas lágrimas nas boas e más horas.</h5>
                                <h6>As lendas</h6>
                                <a target="_blank" href="https://www.youtube.com/watch?v=d2caGJ6awYE" style="color: white;">Ver video</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="" src="img/imgCarousel/banner-topo_02_fcporto-mob.jpg" id="imgCarousel" alt="Second slide">
                            <div class="carousel-caption">
                                <h5>Sofrer, chorar, gritar. Amar é isso!</h5>
                                <h6>As lendas</h6>
                                <a target="_blank" href="https://www.youtube.com/watch?v=B3ciRwYesDg" style="color: white;">Ver video</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="" src="img/imgCarousel/banner-topo_03_sportingcp-mob.jpg" id="imgCarousel" alt="Third slide">
                            <div class="carousel-caption">
                                <h5>Uma paixão que atravessa gerações</h5>
                                <h6>A herança</h6>
                                <a target="_blank" href="https://www.youtube.com/watch?v=HbLz4yl1imU" style="color: white;">Ver video</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="" src="img/imgCarousel/banner-topo_04_vitoriasc-mob.jpg" id="imgCarousel" alt="Fourth slide">
                            <div class="carousel-caption">
                                <h5>Momentos inesquecíveis de uma final imperdível.</h5>
                                <h6>A família</h6>
                                <a target="_blank" href="https://www.youtube.com/watch?v=NUijxOpYZqc" style="color: white;">Ver video</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="" src="img/imgCarousel/banner-topo_05_scbraga-mob.jpg" id="imgCarousel" alt="Fifth slide">
                            <div class="carousel-caption">
                                <h5>Admiração, fé e vontade de vencer.</h5>
                                <h6>O ídolo</h6>
                                <a target="_blank" href="https://www.youtube.com/watch?v=fGQDUm92jHo" style="color: white;">Ver video</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="" src="img/imgCarousel/banner-topo_06_maritimo-mob.jpg" id="imgCarousel" alt="Sixth slide">
                            <div class="carousel-caption">
                                <h5>Apoio ao máximo nas vitórias e derrotas.</h5>
                                <h6>A recompensa</h6>
                                <a target="_blank" href="https://www.youtube.com/watch?v=OyAkLNqHzno" style="color: white;">Ver video</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="" src="img/imgCarousel/banner-topo_07_rioavefc-mob.jpg" id="imgCarousel" alt="Seventh slide">
                            <div class="carousel-caption">
                                <h5>Uma entrega de alma e coração.</h5>
                                <h6>A segunda pele</h6>
                                <a target="_blank" href="https://www.youtube.com/watch?v=DG798wqOgWE" style="color: white;">Ver video</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="" src="img/imgCarousel/banner-topo_08_feirense-mob.jpg" id="imgCarousel" alt="Eighth slide">
                            <div class="carousel-caption">
                                <h5>São momentos fantásticos.</h5>
                                <h6>O sonho</h6>
                                <a target="_blank" href="https://www.youtube.com/watch?v=ICMBprvoA4o" style="color: white;">Ver video</a>
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" data-target="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-target="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <hr />

                <div class="row">

                    <div class="col-md-5 col-sm-12">
                        <img src="img/logo_section_01.png" id="heart" />
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div style="margin-top: 10px;" id="heartText">
                            18 clubes, 18 camisolas, 1 amor. O amor à camisola é tudo. É emoção, é desilusão,
                            é conquista, é sonho, é passado, presente e futuro. O amor à camisola liga clubes
                            e adeptos e simpatizantes. O amor à camisola liga-nos a todos nós.
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </section>



    <section id="clubes"></section>

    <section class="clubes" data-paroller-factor="0.5" style="margin-bottom: 500px">

        <!-- Popover -->
        <div id="content" style="display: none;">
            <div>
                <p id="Nome"></p>
                <p id="Local"></p>
                <p id="Estadio"></p>
                <p id="Patrocinador"></p>
                <p id="NomePresidente"></p>
                <p id="NomeTreinador"></p>
                <p id="Plantel"></p>
            </div>
        </div>
        <!-- Popover -->

        <div class="container" id="screveal" style="padding-bottom: 0px; ">

            <div class="row" style="padding-bottom: 50px;">
                <div class="col-md-12 col-sm-12">
                    <h1 class="equipas">Equipas</h1>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="1" data-toggle="tooltip" data-placement="top" title="Boavista FC"><img src="img/medium/53.png" id="boavista"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="2" data-toggle="tooltip" data-placement="top" title="CD Aves"><img src="img/medium/73.png" id="aves"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="3" data-toggle="tooltip" data-placement="top" title="CD Feirense"><img src="img/medium/81.png" id="feirense"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="4" data-toggle="tooltip" data-placement="top" title="CD Tondela"><img src="img/medium/100.png" id="tondela"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="5" data-toggle="tooltip" data-placement="top" title="Os Belenenses"><img src="img/medium/106.png" id="belenenses"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="6" data-toggle="tooltip" data-placement="top" title="Marítimo M."><img src="img/medium/125.png" id="maritimo"></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="7" data-toggle="tooltip" data-placement="top" title="FC P.Ferreira"><img src="img/medium/153.png" id="ferreira"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="8" data-toggle="tooltip" data-placement="top" title="FC Porto"><img src="img/medium/157.png" id="porto"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="9" data-toggle="tooltip" data-placement="top" title="GD Chaves"><img src="img/medium/173.png" id="chaves"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="10" data-toggle="tooltip" data-placement="top" title="Estoril Praia"><img src="img/medium/176.png" id="estoril"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="11" data-toggle="tooltip" data-placement="top" title="Moreirense FC"><img src="img/medium/226.png" id="moreirense"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="12" data-toggle="tooltip" data-placement="top" title="Portimonense"><img src="img/medium/236.png" id="portimonense"></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="13" data-toggle="tooltip" data-placement="top" title="Rio Ave FC"><img src="img/medium/241.png" id="rioave"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="14" data-toggle="tooltip" data-placement="top" title="SL Benfica"><img src="img/medium/278.png" id="benfica"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="15" data-toggle="tooltip" data-placement="top" title="SC Braga"><img src="img/medium/285.png" id="braga"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="16" data-toggle="tooltip" data-placement="top" title="Sporting CP"><img src="img/medium/303.png" id="sporting"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="17" data-toggle="tooltip" data-placement="top" title="Vitória FC"><img src="img/medium/336.png" id="vitoria"></a>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div class="space">
                        <a class="ClickTeste" id="18" data-toggle="tooltip" data-placement="top" title="Vitória SC"><img src="img/medium/337.png" id="vitoriasc"></a>
                    </div>
                </div>
            </div>

        </div>



    </section>



    <section id="jornadas"></section>

    <section class="jornadas" data-paroller-factor="0.5" style="margin-bottom: 500px">

        <div class="container" id="screveals" style="padding-bottom: 0px;">

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1 class="calendario">Calendário Liga NOS @(DateTime.Now.Year - 1)/@DateTime.Now.Year</h1>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div style="width: 200px; margin: 0 auto; margin-top: 20px; padding-left: 5px ">
                        <div style="margin-right: 20px; float: left; margin-top: 3px; ">
                            <img src="img/ico_jornada.png" />
                        </div>
                        <div>
                            <h3 id="tituloJornada">Jornada</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="navCar">
                    </div>


                    <div class="jornadasCar">
                        <div class="owl-carousel owl-theme">

                            <div onclick="getJornada(1)" class="jornadasNumbers">
                                <div class="borderLeft"></div>
                                1
                            </div>

                            <div onclick="getJornada(2)" class="jornadasNumbers">
                                <div class="borderLeft"></div>
                                2
                            </div>

                            <div onclick="getJornada(3)" class="jornadasNumbers">
                                <div class="borderLeft"></div>
                                3
                            </div>

                            <div onclick="getJornada(4)" class="jornadasNumbers">
                                <div class="borderLeft"></div>
                                4
                            </div>

                            <div onclick="getJornada(5)" class="jornadasNumbers">
                                <div class="borderLeft"></div>
                                5
                            </div>

                            <div onclick="getJornada(6)" class="jornadasNumbers">
                                <div class="borderLeft"></div>
                                6
                            </div>

                            <div onclick="getJornada(7)" class="jornadasNumbers">
                                <div class="borderLeft"></div>
                                7
                            </div>

                            <div onclick="getJornada(8)" class="jornadasNumbers">
                                <div class="borderLeft"></div>
                                8
                            </div>

                            <div onclick="getJornada(9)" class="jornadasNumbers">
                                <div class="borderLeft"></div>
                                9
                            </div>

                            <div onclick="getJornada(10)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                10
                            </div>

                            <div onclick="getJornada(11)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                11
                            </div>

                            <div onclick="getJornada(12)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                12
                            </div>

                            <div onclick="getJornada(13)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                13
                            </div>

                            <div onclick="getJornada(14)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                14
                            </div>

                            <div onclick="getJornada(15)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                15
                            </div>

                            <div onclick="getJornada(16)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                16
                            </div>

                            <div onclick="getJornada(17)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                17
                            </div>

                            <div onclick="getJornada(18)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                18
                            </div>

                            <div onclick="getJornada(19)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                19
                            </div>

                            <div onclick="getJornada(20)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                20
                            </div>

                            <div onclick="getJornada(21)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                21
                            </div>

                            <div onclick="getJornada(22)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                22
                            </div>

                            <div onclick="getJornada(23)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                23
                            </div>

                            <div onclick="getJornada(24)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                24
                            </div>

                            <div onclick="getJornada(25)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                25
                            </div>

                            <div onclick="getJornada(26)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                26
                            </div>

                            <div onclick="getJornada(27)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                27
                            </div>

                            <div onclick="getJornada(28)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                28
                            </div>

                            <div onclick="getJornada(29)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                29
                            </div>

                            <div onclick="getJornada(30)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                30
                            </div>

                            <div onclick="getJornada(31)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                31
                            </div>

                            <div onclick="getJornada(32)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                32
                            </div>

                            <div onclick="getJornada(33)" class="jornadasNumbers">
                                <div class="borderLeft2"></div>
                                33
                            </div>

                            <div onclick="getJornada(34)" class="jornadasNumbers">
                                <div class=""></div>
                                34
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div id="jornadasContent">


            </div>

        </div>


    </section>



    <section id="classificacao"></section>

    <section class="classificacao" data-paroller-factor="0.5" style="margin-bottom: 100px">

        <div class="container">

            <div class="row" style="margin-bottom: -10px;">
                <div class="col-md-10 col-sm-11">
                    <h1 class="tituloTabela">Tabela classificativa</h1>
                </div>
                <div class="col-md-2 col-sm-1" style="text-align: right">
                    <a class="refreshTable"><img src="/img/refresh2.png" /></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>

            <div id="screveal" class="row">
                <div class="col-md-12 col-sm-12 col-12">

                    <table class="table" style="margin-right: 50px;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Pos</th>
                                <th scope="col"></th>
                                <th scope="col">Equipa</th>
                                <th scope="col">JJ</th>
                                <th scope="col">V</th>
                                <th scope="col">E</th>
                                <th scope="col">D</th>
                                <th scope="col">GM</th>
                                <th scope="col">GS</th>
                                <th scope="col">Pts</th>
                            </tr>
                        </thead>

                        <tbody id="ScoreTable"></tbody>
                    </table>

                </div>
            </div>
        </div>


    </section>

}
