﻿

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

.modal-header {
    color: #242424 !important;
    
}

.nav-link {
    color: rgba(180, 180, 180, 0.8) !important;
}

#logout {
    margin-top: 10px !important;
}

.navicon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url(/img/hamburguer.svg);
}

.navbar-brand {
    font-size: 30px;
}

hr {
    height: 1px;
    border: none;
    /*margin: 0 auto;*/
    background-color: rgba(255, 255, 255, 0.3);
}
.clubes img {
    transform: scale(0.6, 0.6);
    transition: 0.2s;
    -webkit-filter: drop-shadow(0 40px 15px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 40px 15px rgba(0, 0, 0, 0.2));
}

    .clubes img:hover {
        transform: scale(1, 1);
    }

    .clubes img:active {
        transform: scale(0.75, 0.75);
    }

body {
    font-weight: 100;
    font-style: normal;
    background-color: rgba(50, 50, 50, 1);
    color: rgb(255, 255, 255);
}

.background {
    background-image: url(/img/liganos_bkg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
}




#logo {
    transform: scale(0.9, 0.9);
    height: 50px;
    width: auto;
    opacity: 1;
}

#navbar-bck {
    background-color: rgba(50, 50, 50, 0.9);
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.4));
}

.nav-item {
    color: rgba(180, 180, 180, 0.8);
    font-size: 20px;
    transition: 0.2s;
}

    .nav-item:hover {
        color: rgba(255, 255, 255, 1) !important;
        transition: 0.2s;
        cursor: pointer;
    }

.clubes {
    background-image: url(img/bkg1.pngs);
    /*background-color: rgba(255, 230, 0, 0.5);*/
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 300px;
}

.tooltip {
    margin: 70px;
}

    .tooltip.show {
        margin: 70px;
        opacity: 0.5;
    }

.clubes .space {
    margin-bottom: 50px;
}

.tableImg {
    transform: scale(0.8, 0.8);
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.08);
}

    .table th,
    .table td {
        padding-top: 5px;
        vertical-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

.refreshTable img {
    margin-top: 30px;
    transform: scale(0.7, 0.7);
    transition: 0.4s;
}

    .refreshTable img:hover {
        transform: scale(0.8, 0.8);
        transition: 0.4s;
    }

    .refreshTable img:active {
        transform: scale(0.75, 0.75);
        transition: 0.4s;
    }

.popover {
    background-color: rgba(255,255,255,0.4);
}

.nav-item.active {
    color: rgba(255, 255, 255, 1) !important;
    transition: 0.2s;
    border-bottom: 0.1px solid white;
}

/*SECTION TITLES*/
.calendario {
    text-align: left;
    font-size: 70px;
    font-weight: 700;
}

.equipas {
    text-align: left;
    font-size: 70px;
    font-weight: 700;
}

.tituloTabela {
    text-align: left;
    font-size: 70px;
    font-weight: 700;
}
/*SECTION TITLES*/
#tituloJornada {
    width: 200px;
}

.jornadasCar {
    width: 95%;
    background-color: rgba(40, 40, 40, 1);
    overflow: auto;
    margin: 0 auto;
    margin-top: 32px;
    padding: 10px 10px 10px 10px;
}

.jornadasNumbers {
    float: left;
    margin-left: 18.3px;
    color: rgba(255, 255, 255, 0.5);
}

    .jornadasNumbers:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
    }

    .jornadasNumbers.active {
        color: rgba(255, 255, 255, 1);
        border-bottom: 0.1px solid rgba(255, 255, 255, 1);
    }

.borderLeft {
    width: 1px;
    height: 6px;
    margin-top: 10px;
    margin-left: 25px;
    background: #636363;
    position: absolute;
}
        
.borderLeft2 {
    width: 1px;
    height: 6px;
    margin-top: 10px;
    margin-left: 30px;
    background: #636363;
    position: absolute;
}


/*-----NEW------*/
.navCar {
    position: relative;
    margin-bottom: -75px;
    margin-top: 50px;
}
        
.owl-prev {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-left: -10px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 30px;
    font-weight: 700;
}
        
.owl-prev:hover {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: 700;
}
        
.owl-prev:active,
.owl-prev:focus {
    outline: 0;
    border: none;
}
        
.owl-next {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    float: right;
    margin-right: -10px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 30px;
    font-weight: 700;
}
        
.owl-next:hover {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: 700;
}
        
.owl-next:active,
.owl-next:focus {
    outline: 0;
    border: none;
}


/*-----NEW------*/





#jornadasContent {
    margin-top: 50px;
}

.jogo {
    position: relative;
    margin: 0 auto;
    min-height: 84px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    clear: both;
    height: 100px;
    margin-bottom: 10px;
    /*width: 80%;*/
}

/*-------------------------------------------------------------------------------*/

.team {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    /*width: 50%;*/
    line-height: 84px;
}

    .team.hometeam {
        right: 50%;
        margin-right: 90px;
    }

        .team.hometeam img {
            padding-left: 30px;
        }

    .team.awayteam {
        left: 50%;
        margin-left: 90px;
    }

        .team.awayteam img {
            padding-right: 30px;
        }

.marcador {
    position: absolute;
    width: 100%;
    text-align: center;
}

.dataJornada {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: -10px;
    margin-right: 20px;

}

.resultados {
    font-size: 50px;
    font-weight: 500;
    margin-right: 20px;
    padding-bottom: 80px;
}

/*ISTO TEM HAVER COM O SCROLL*/
section #home {
    margin-bottom: -100px
}

section #clubes {
    margin-bottom: -400px
}

section #jornadas {
    margin-bottom: -200px
}

section #classificacao {
    margin-bottom: -0px;
    padding-bottom: 50px;
}

.carousel-caption {
    margin-bottom: 480px;
}
/*------------------------------------------------------------------------------*/
#imgCarousel {
    /*transform: scale(1.8, 1.8);*/
    width: 100%;
    margin: -80px 0px -400px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#champ {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#arrow {
    margin-top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: arrow 300ms infinite alternate;
}

    #arrow:hover {
        animation: paused;
        transform: scale(1.1, 1.1);
        filter: drop-shadow(0 15px 8px rgba(0, 0, 0, 1));
    }

    #arrow:active {
        transform: scale(1, 1);
        filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 1));
    }

@keyframes arrow {
    0% {
        transform: scale(1, 1);
        filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 1));
    }

    100% {
        transform: scale(1.1, 1.1);
        filter: drop-shadow(0 15px 8px rgba(0, 0, 0, 1));
    }
}


/*Footer*/
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #151515;
    border-top: 1px solid #242424;
    border-bottom: 8px solid #242424;
    line-height: 40px;
    padding: 22px 0;

    position: absolute;
    left: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

    footer .sponsors_wrap {
        float: right;
        color: #666666;
        font-size: 12px;
    }

    .footerClass {
        
        margin-bottom: -110px;
    }

.ligaportugal {
    float: left;
    margin-right: 20px;
    padding-top: 4px;
}

footer .sponsors.main {
    margin-right: 40px;
}

footer .copy {
    float: left;
    font-size: 12px;
    color: #a6a6a6;
}

footer .sponsors {
    float: left;
    color: #666666;
    font-size: 12px;
}


/*Footer*/



@media(max-width: 425px) {

    .background {
        background-image: url(/img/liganos_bkg_mobile.png);
        /*background-image: url(/img/liganos_bkg.png);*/
    }

    .owl-prev {
        background-color: blue;
        margin-left: -20px;
        visibility: hidden;
    }
    .owl-next {
        float: right;
        margin-right: -15px;
        background-color: blue;
        visibility: hidden;
    }

    .calendario {
        font-size: 30px;
    }

    .equipas {
        font-size: 30px;
    }
    
    .tituloTabela {
        font-size: 30px;

    }

}

@media(max-width:768px) {

    .background {
        background-image: url(/img/liganos_bkg_mobile.png);
        /*background-image: url(/img/liganos_bkg.png);*/
    }

    .carousel-caption {
        margin-bottom: 443px;
    }

    #champ {
        width: 150%;
    }

    #imgCarousel {
        margin: -80px 0px -250px 0px;
        width: 180%;
    }

    #heartText {
        font-size: 20px;
        font-weight: bold;
    }

    .calendario {
        font-size: 40px;
    }

    .equipas {
        font-size: 40px;
    }

    .tituloTabela {
        font-size: 40px;
    }

    .team {
        font-size: 15px;
    }

    .team.hometeam {
        margin-right: 40px;
    }

        .team.hometeam img {
            margin-left: -15px;
            padding-right: 10px;
            transform: scale(0.8, 0.8);
        }

    .team.awayteam {
        margin-left: 40px;
    }

        .team.awayteam img {
            margin-right: -15px;
            padding-left: 15px;
            transform: scale(0.8, 0.8);
        }

    .clubes img {
        transform: scale(0.5, 0.5)
    }

    .refreshTable img {
        margin-top: 5px;
        margin-left: -50px;
    }

    .footerClass {
        margin-bottom: -50px;
        height: 180px;
    }

}

@media(min-width:768px) {

    .background {
        background-image: url(/img/liganos_bkg_mobile.png);
        /*background-image: url(/img/liganos_bkg.png);*/
    }

    #imgCarousel {
        margin: -80px 0px -200px 0px;
        width: 100%;
    }

    #heartText {
        font-size: 18px;
    }

    #heart {
        margin-left: 20px;
        margin-top: 60px;
    }

    .calendario {
        font-size: 50px;
    }

    .equipas {
        font-size: 50px;
    }

    .tituloTabela {
        font-size: 50px;
    }

    .team {
        font-size: 15px;
    }

    .team.hometeam {
        margin-right: 70px;
    }

    .team.awayteam {
        margin-left: 70px;
    }

    .refreshTable img {
        margin-top: 15px;
    }

    .footerClass {
        margin-bottom: -80px;
        height: 150px;
    }
}

@media(min-width:992px) {

    .background {
        /*background-image: url(/img/liganos_bkg_mobile.png);*/
        background-image: url(/img/liganos_bkg.png);
    }

    #champ {
        width: 130%;
    }
    

    #imgCarousel {
        margin: -80px 0px -300px 0px;
        width: 100%;
    }

    #heart {
        margin-left: 100px;
        margin-top: 35px;
    }

    .calendario {
        font-size: 60px;
    }

    .equipas {
        font-size: 60px;
    }

    .tituloTabela {
        font-size: 60px;
    }

    
}

@media(min-width:1200px) {

    .background {
        /*background-image: url(/img/liganos_bkg_mobile.png);*/
        background-image: url(/img/liganos_bkg.png);
    }


    #champ {
        width: 100%;
    }

    #imgCarousel {
        margin: -80px 0px -400px 0px;
        width: 100%;
    }

    #heart {
        margin-left: 180px;
        margin-top: 5px;
    }

    .owl-prev {
        background-color: blue;
        margin-left: -20px;
        visibility: hidden;
    }
    .owl-next {
        float: right;
        margin-right: -15px;
        background-color: blue;
        visibility: hidden;
    }
    .borderLeft {
        margin-left: 20px;
    }
    .borderLeft2 {
        margin-left: 22px;
    }

    .calendario {
        font-size: 70px;
        font-weight: 700;
    }

    .team {
        font-size: 20px;
    }

        .team.hometeam {
            margin-right: 90px;
        }

        .team.awayteam {
            margin-left: 90px;
        }

    .jogo {
        width: 80%;
    }

    .footerClass {
        margin-bottom: -110px;
        height: 100px;
    }
}
