﻿
@model LigaNOS_MVC_Core.ViewModels.JogosViewModel


@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_SharedSimular.cshtml";

    int n = 1;
}

<div style="padding-top: 100px; padding-bottom: 600px">
    <h1>Detalhes Da Minha Liga</h1>
    <br />


    <h1>Liga - @Model.Liga.Nome</h1>
    <br />
    <div class="table-responsive" style="font-size: 12px; margin-bottom: 80px">

        <form asp-controller="Jogos" asp-action="InserirJogo" method="post">
            <table class="table">
                <thead class="thead-dark" style="font-weight: bold; font-size: 14px;">
                <th>
                    <label>ID Jogo</label>
                </th>
                <th>
                    <label>Nº Jogo</label>
                </th>
                <th>
                    <label>Home Team</label>
                </th>
                <th>
                    <label>Score Home</label>
                </th>
                <th>
                    <label>Score Away</label>
                </th>
                <th>
                    <label>Away Team</label>
                </th>
                <th>
                    <label>Data</label>
                </th>
                </thead>

                @for (int i = 0; i < Model.ListJogos.Count(); i++)
                {
                    <tr>
                        <input asp-for="@Model.ListJogos[i].idLiga" type="hidden" />
                        <input asp-for="@Model.ListJogos[i].idJogo" type="hidden" />
                        <td>
                            <label>@Model.ListJogos[i].idJogo</label>
                        </td>
                        <td>
                            <label>Jogo @n</label>
                        </td>
                        <td>
                            <select asp-for="@Model.ListJogos[i].idHomeEquipa" asp-items="@ViewBag.NomeEquipas">
                                @if (Model.ListJogosNomeEquipaModels[i].homeEquipa != null)
                                {
                                    <option>@Model.ListJogosNomeEquipaModels[i].homeEquipa</option>
                                }

                            </select>
                        </td>
                        <td>
                            <input style="width: 80px" asp-for="@Model.ListJogos[i].goalsHomeTeam" min="0" />
                        </td>
                        <td>
                            <input style="width: 80px" asp-for="@Model.ListJogos[i].goalsAwayTeam" min="0" />
                        </td>
                        <td>
                            <select asp-for="@Model.ListJogos[i].idAwayEquipa" asp-items="@ViewBag.NomeEquipas">
                                @if (Model.ListJogosNomeEquipaModels[i].awayEquipa != null)
                                {
                                    <option>@Model.ListJogosNomeEquipaModels[i].awayEquipa</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input asp-for="@Model.ListJogos[i].Data" />
                        </td>
                    </tr>

                    n++;

                }

            </table>

            <button class="btn" type="submit">Save</button>

        </form>

    </div>

    <hr />

</div>


