﻿
@model LigaNOS_MVC_Core.ViewModels.JogosViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SharedSimular.cshtml";

    int n = 1;
}

<div style="padding-top: 150px; padding-bottom: 600px">
    <h1>Jogos Das Minhas Ligas</h1>
    <br />

    <div id="accordion">
        @foreach (var liga in Model.ListLiga)
        {
            <div class="card" style="background-color: transparent; border: 0">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button style="background-color: transparent; color: white" class="btn" data-toggle="collapse" data-target="#@liga.idLiga" aria-expanded="true" aria-controls="collapseOne">

                            <h3>Liga - @liga.Nome 
                                <a asp-action="DetalhesLiga" asp-controller="Jogos" asp-route-id="@liga.idLiga">
                                    <img id="deleteTeamIcon" src="~/img/DetalhesLigaIcon.png" />
                                </a>
                            </h3>
                            
                        </button>
                    </h5>
                </div>

                <div id="@liga.idLiga" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        <div class="table-responsive" style="font-size: 12px; margin-bottom: 80px">

                            <table class="table">
                                <thead class="thead-dark" style="font-weight: bold; font-size: 14px;">
                                <th>
                                    <label>ID Jogo</label>
                                </th>
                                <th>
                                    <label>Nº Jogo</label>
                                </th>
                                <th>
                                    <label>Home Team</label>
                                </th>
                                <th>
                                    <label>Score Home</label>
                                </th>
                                <th>
                                    <label>Score Away</label>
                                </th>
                                <th>
                                    <label>Away Team</label>
                                </th>
                                <th>
                                    <label>Data</label>
                                </th>
                                </thead>



                                @foreach (var item in Model.ListJogosNomeEquipaModels)
                                {
                                    if (liga.idLiga == item.idLiga)
                                    {
                                        <tr>
                                            <td>
                                                <label asp-for="@item.idJogo">@item.idJogo</label>
                                            </td>
                                            <td>
                                                <label>Jogo @n</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.homeEquipa">@item.homeEquipa</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.goalsHomeTeam">@item.goalsHomeTeam</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.goalsAwayTeam">@item.goalsAwayTeam</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.awayEquipa">@item.awayEquipa</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.Data">@item.Data</label>
                                            </td>
                                        </tr>
                                        n++;
                                    }

                                }
                                
                                @{
                                    n = 1;
                                }

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>

</div>




@*<div style="padding-top: 100px; padding-bottom: 600px">
        <h1>Detalhes Das Minhas Ligas</h1>
        <br />


        @foreach (var liga in Model.ListLiga)
        {
            <h1>@liga.Nome</h1>

            <div class="table-responsive" style="font-size: 12px; margin-bottom: 80px">

                <table class="table">
                    <thead class="thead-dark" style="font-weight: bold; font-size: 14px;">
                    <th>
                        <label>ID Jogo</label>
                    </th>
                    <th>
                        <label>Home Team</label>
                    </th>
                    <th>
                        <label>Score Home</label>
                    </th>
                    <th>
                        <label>Score Away</label>
                    </th>
                    <th>
                        <label>Away Team</label>
                    </th>
                    <th>
                        <label>Data</label>
                    </th>
                    </thead>



                    @foreach (var item in Model.ListJogos)
                    {
                        if (liga.idLiga == item.idLiga)
                        {
                            <tr>
                                <td>
                                    <label asp-for="@item.idJogo">@item.idJogo</label>
                                </td>
                                <td>
                                    <label asp-for="@item.HomeEquipa">@item.HomeEquipa</label>
                                </td>
                                <td>
                                    <label asp-for="@item.goalsHomeTeam">@item.goalsHomeTeam</label>
                                </td>
                                <td>
                                    <label asp-for="@item.goalsAwayTeam">@item.goalsAwayTeam</label>
                                </td>
                                <td>
                                    <label asp-for="@item.AwayEquipa">@item.AwayEquipa</label>
                                </td>
                                <td>
                                    <label asp-for="@item.Data">@item.Data</label>
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>

            <hr />

        }


    </div>*@


