﻿@*@model IEnumerable<LigaNOS_MVC_Core.Models.InfoEquipas>*@

@using LigaNOS_MVC_Core.Models.HomeViewModel

@model HomeViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clubes</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h3>Nome</h3>
                </th>
                <th>
                    <h3>Local</h3>
                </th>
                <th>
                    <h3>Estádio</h3>
                </th>
                <th>
                    <h3>Patrocinador</h3>
                </th>
                <th>
                    <h3>Presidente</h3>
                </th>
                <th>
                    <h3>Treinador</h3>
                </th>
                <th>
                    <h3>Plantel</h3>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InfoEquipas)
            {
                <tr>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.Local
                    </td>
                    <td>
                        @item.Estadio
                    </td>
                    <td>
                        @item.Patrocinador
                    </td>
                    <td>
                        @item.NomePresidente
                    </td>
                    <td>
                        @item.NomeTreinador
                    </td>
                    <td>
                        @item.Plantel
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
