﻿
@model LigaNOS_MVC_Core.ViewModels.ClassificacaoViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SharedSimular.cshtml";

    int n = 1;
}

<div style="padding-top: 150px; padding-bottom: 600px">
    <h1>Classificações Das Minhas Ligas</h1>
    <br />

    <div id="accordion">
        @foreach (var liga in Model.ListLiga)
        {
            <div class="card" style="background-color: transparent; border: 0">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button style="background-color: transparent; color: white" class="btn" data-toggle="collapse" data-target="#@liga.idLiga" aria-expanded="true" aria-controls="collapseOne">

                            <h3>
                                Liga - @liga.Nome
                                <a asp-action="DetalhesLiga" asp-controller="Jogos" asp-route-id="@liga.idLiga">
                                    <img id="deleteTeamIcon" src="~/img/DetalhesLigaIcon.png" />
                                </a>
                                <a asp-action="Index" asp-controller="Classificacao" asp-route-id="@liga.idLiga">
                                    <img id="deleteTeamIcon" src="~/img/ScoreBoardIcon.png" />
                                </a>
                            </h3>

                        </button>
                    </h5>
                </div>

                <div id="@liga.idLiga" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        <div class="table-responsive" style="font-size: 12px; margin-bottom: 80px">

                            <table class="table">
                                <thead class="thead-dark" style="font-weight: bold; font-size: 14px;">

                                <th>
                                    <label>Pos.</label>
                                </th>
                                <th>
                                    <label>Equipa</label>
                                </th>
                                <th>
                                    <label>JJ</label>
                                </th>
                                <th>
                                    <label>V</label>
                                </th>
                                <th>
                                    <label>E</label>
                                </th>
                                <th>
                                    <label>D</label>
                                </th>
                                <th>
                                    <label>GM</label>
                                </th>
                                <th>
                                    <label>GS</label>
                                </th>
                                <th>
                                    <label>Pontos</label>
                                </th>
                                </thead>



                                @foreach (var item in Model.ListScoreTableNomesEquipasModels)
                                {
                                    if (liga.idLiga == item.idLiga)
                                    {
                                        <tr>
                                            <td>
                                                <label>@n</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.NomeEquipa">@item.NomeEquipa</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.JogosJogados">@item.JogosJogados</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.Vitorias">@item.Vitorias</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.Empates">@item.Empates</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.Derrotas">@item.Derrotas</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.GolosMarcados">@item.GolosMarcados</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.GolosSofridos">@item.GolosSofridos</label>
                                            </td>
                                            <td>
                                                <label asp-for="@item.Pontos">@item.Pontos</label>
                                            </td>
                                        </tr>
                                        n++;
                                    }

                                }

                                @{
                                    n = 1;
                                }

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>

</div>

