﻿
@model LigaNOS_MVC_Core.ViewModels.ManageEquipasViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SharedSimular.cshtml";
}


<section class="tabelaEquipas" style="margin-top: 180px">

    <div style="padding-bottom: 0">

        <div class="table-responsive" style="font-size: 12px; margin-bottom: 80px">
            <h1>Equipas</h1>
            <br />

            <table class="table">
                <thead class="thead-dark" style="font-weight: bold; font-size: 14px;">
                <th>
                    <label>Nome</label>
                </th>
                <th>
                    <label>Estádio</label>
                </th>
                <th>
                    <label>Local</label>
                </th>
                <th>
                    <label>Presidente</label>
                </th>
                <th>
                    <label>Treinador</label>
                </th>
                <th>
                    <label>Patrocinador</label>
                </th>
                <th>
                    <label>Plantel</label>
                </th>
                <th>
                    <label>&nbsp;</label>
                </th>
                <th>
                    <label>&nbsp;</label>
                </th>

                </thead>

                <form asp-controller="ManageEquipas" asp-action="NewTeam" method="post">
                    <tr>
                        <td>
                            <input id="InputNome" asp-for="@Model.Equipa.Nome" placeholder="Nome" />
                        </td>
                        <td>
                            <input id="InputEstadio" asp-for="@Model.Equipa.Estadio" placeholder="Estadio" />
                        </td>
                        <td>
                            <input id="InputLocal" asp-for="@Model.Equipa.Local" placeholder="Local" />
                        </td>
                        <td>
                            <input id="InputPresidente" asp-for="@Model.Equipa.NomePresidente" placeholder="Presidente" />
                        </td>
                        <td>
                            <input id="InputTreinador" asp-for="@Model.Equipa.NomeTreinador" placeholder="Treinador" />
                        </td>
                        <td>
                            <input id="InputPatrocinador" asp-for="@Model.Equipa.Patrocinador" placeholder="Patrocinador" />
                        </td>
                        <td>
                            <input id="InputPlantel" asp-for="@Model.Equipa.Plantel" placeholder="Plantel" min="0" />
                        </td>

                    </tr>

                    <button id="addNewTeamIcon" type="submit"><img src="~/img/addTeamIcon.png" /></button>
                </form>

                @foreach (var item in Model.ListEquipas)
                {
                    if (item.IdEquipa != 0)
                    {

                        <tr>
                            <td>
                                <label asp-for="@item.Nome">@item.Nome</label>
                            </td>
                            <td>
                                <label asp-for="@item.Estadio">@item.Estadio</label>
                            </td>
                            <td>
                                <label asp-for="@item.Local">@item.Local</label>
                            </td>
                            <td>
                                <label asp-for="@item.NomePresidente">@item.NomePresidente</label>
                            </td>
                            <td>
                                <label asp-for="@item.NomeTreinador">@item.NomeTreinador</label>
                            </td>
                            <td>
                                <label asp-for="@item.Patrocinador">@item.Patrocinador</label>
                            </td>
                            <td>
                                <label asp-for="@item.Plantel">@item.Plantel</label>
                            </td>

                            <td style="width: 10px; padding: 0">
                                <a asp-action="UpdateTeam" asp-controller="ManageEquipas" asp-route-id="@item.IdEquipa"><img id="deleteTeamIcon" src="~/img/UpdateTeamIcon.png" /></a>
                            </td>
                            <td style="width: 10px; padding: 0">
                                <a asp-action="DeleteTeam" asp-controller="ManageEquipas" asp-route-id="@item.IdEquipa"><img id="deleteTeamIcon" src="~/img/DeleteTeamIcon.png" /></a>
                            </td>
                        </tr>
                    }

                }

            </table>
        </div>

    </div>

</section>



