﻿
@model LigaNOS_MVC_Core.ViewModels.ManageEquipasViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SharedSimular.cshtml";
}

<section class="tabelaEquipas" data-paroller-factor="0.5" style="margin-top: 100px; padding-bottom: 500px">



    <div style="padding-bottom: 0">

        <div class="table-responsive" style="font-size: 12px; margin-bottom: 80px">
            <h1>Update</h1>
            <br />

            <table class="table">
                <thead class="thead-dark" style="font-weight: bold; font-size: 14px;">
                
                <th>
                    <label>Nome</label>
                </th>
                <th>
                    <label>Estádio</label>
                </th>
                <th>
                    <label>Local</label>
                </th>
                <th>
                    <label>Presidente</label>
                </th>
                <th>
                    <label>Treinador</label>
                </th>
                <th>
                    <label>Patrocinador</label>
                </th>
                <th>
                    <label>Plantel</label>
                </th>
                <th>
                    <label>&nbsp;</label>
                </th>
                <th>
                    <label>&nbsp;</label>
                </th>

                </thead>

                <form asp-controller="ManageEquipas" asp-action="UpdateTeamPost" method="post">
                    <tr>
                        
                        <input asp-for="@Model.Equipa.IdEquipa" type="hidden" />
                       
                        <td>
                            <input id="InputNome" asp-for="@Model.Equipa.Nome" placeholder="Nome" />
                        </td>
                        <td>
                            <input id="InputEstadio" asp-for="@Model.Equipa.Estadio" placeholder="Estadio" />
                        </td>
                        <td>
                            <input id="InputLocal" asp-for="@Model.Equipa.Local" placeholder="Local" />
                        </td>
                        <td>
                            <input id="InputPresidente" asp-for="@Model.Equipa.NomePresidente" placeholder="Presidente" />
                        </td>
                        <td>
                            <input id="InputTreinador" asp-for="@Model.Equipa.NomeTreinador" placeholder="Treinador" />
                        </td>
                        <td>
                            <input id="InputPatrocinador" asp-for="@Model.Equipa.Patrocinador" placeholder="Patrocinador" />
                        </td>
                        <td>
                            <input id="InputPlantel" asp-for="@Model.Equipa.Plantel" placeholder="Plantel" min="0" />
                        </td>

                    </tr>

                    <button id="updateTeamIcon" type="submit"><img src="~/img/UpdateTeamIcon.png" /></button>
                </form>


            </table>
        </div>

    </div>

</section>



